In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import os

In [4]:
df_metadados = pd.DataFrame()
path = '/Users/kpaul/OneDrive/Data Analytics/Python/Project/OLX/dados/'

for arquivo in os.listdir(path):
    print(arquivo)
    df_metadados = pd.concat([df_metadados, pd.read_csv(path + arquivo)])
    
df_metadados.reset_index(drop=True,inplace=True)

metadados_olx_celulares_202210010816.csv
metadados_olx_celulares_202210010817.csv
metadados_olx_celulares_202210010818.csv
metadados_olx_celulares_202210010819.csv
metadados_olx_celulares_202210010820.csv
metadados_olx_celulares_202210010821.csv
metadados_olx_celulares_202210010822.csv
metadados_olx_celulares_202210010823.csv
metadados_olx_celulares_202210010824.csv

In [6]:
df_metadados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25250 entries, 0 to 25249
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     25250 non-null  int64
 1   TITULO                 25250 non-null  object
 2   VALOR                  24443 non-null  object
 3   LOCAL                  25250 non-null  object
 4   DATA_ANUNCIO           25250 non-null  object
 5   LINK                   25250 non-null  object
 6   DATA_COLETA_METADADOS  25250 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.3+ MB

In [8]:
df_metadados2 = df_metadados.drop_duplicates(subset=['ID'])
df_metadados.reset_index(drop=True,inplace=True)
print(df_metadados2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4805 entries, 0 to 25249
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     4805 non-null   int64
 1   TITULO                 4805 non-null   object
 2   VALOR                  4639 non-null   object
 3   LOCAL                  4805 non-null   object
 4   DATA_ANUNCIO           4805 non-null   object
 5   LINK                   4805 non-null   object
 6   DATA_COLETA_METADADOS  4805 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.3+ KB
None

In [12]:
dados = df_metadados2.copy()
(dados.isnull().sum()/len(dados)*100).sort_values(ascending=False)

VALOR                    3.454735
ID                       0.000000
TITULO                   0.000000
LOCAL                    0.000000
DATA_ANUNCIO             0.000000
LINK                     0.000000
DATA_COLETA_METADADOS    0.000000
dtype: float64

In [14]:
dados

,ID,TITULO,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS
0,1091450338,"fonte chaveada 50 amperes novas garantia ,entrega",R$ 49,Serra - ES,"Hoje, 08:07",https://es.olx.com.br/norte-do-espirito-santo/...,2022-10-01
1,1091450334,iPhone XR 128gb IMPECÁVEL,R$ 2.300,São Paulo - SP,"Hoje, 08:07",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-01
2,1091450330,"Monitor Gamer Pichau 24"" Full HD cepheus F24M ...",R$ 1.100,Joinville - SC,"Hoje, 08:07",https://sc.olx.com.br/norte-de-santa-catarina/...,2022-10-01
3,1091450325,Samsung A02 impecável,R$ 350,Rio de Janeiro - RJ,"Hoje, 08:07",https://rj.olx.com.br/rio-de-janeiro-e-regiao/...,2022-10-01
4,1091450323,Placa de vídeo RX 480 8gb,R$ 950,Manaus - AM,"Hoje, 08:07",https://am.olx.com.br/regiao-de-manaus/computa...,2022-10-01
...,...,...,...,...,...,...,...
25245,1091426467,Vendo,R$ 80,Boa Vista - RR,"Hoje, 06:00",https://rr.olx.com.br/roraima/computadores-e-a...,2022-10-01
25246,1091426468,Acessórios e jogos de ps3 original,"R$ 10010x de R$ 10,00",Jaboatão dos Guararapes - PE,"Hoje, 06:00",https://pe.olx.com.br/grande-recife/videogames...,2022-10-01
25247,1091426473,Samsung J7 Prime,"R$ 45012x de R$ 37,50",Nova Friburgo - RJ,"Hoje, 06:00",https://rj.olx.com.br/norte-do-estado-do-rio/c...,2022-10-01
25248,1091426474,Notebook Lenovo i3 6 geração funcionando tudo ...,R$ 1.100,Jaboatão dos Guararapes - PE,"Hoje, 06:00",https://pe.olx.com.br/grande-recife/computador...,2022-10-01
25249,1091426476,Oferta: Samsung Galaxy S20 Plus Cinza - Lindo!,R$ 2.400,Belo Horizonte - MG,"Hoje, 06:00",https://mg.olx.com.br/belo-horizonte-e-regiao/...,2022-10-01

In [16]:
dados.dropna(subset = ['VALOR'], inplace = True)
dados.head()

,ID,TITULO,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS
0,1091450338,"fonte chaveada 50 amperes novas garantia ,entrega",R$ 49,Serra - ES,"Hoje, 08:07",https://es.olx.com.br/norte-do-espirito-santo/...,2022-10-01
1,1091450334,iPhone XR 128gb IMPECÁVEL,R$ 2.300,São Paulo - SP,"Hoje, 08:07",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-01
2,1091450330,"Monitor Gamer Pichau 24"" Full HD cepheus F24M ...",R$ 1.100,Joinville - SC,"Hoje, 08:07",https://sc.olx.com.br/norte-de-santa-catarina/...,2022-10-01
3,1091450325,Samsung A02 impecável,R$ 350,Rio de Janeiro - RJ,"Hoje, 08:07",https://rj.olx.com.br/rio-de-janeiro-e-regiao/...,2022-10-01
4,1091450323,Placa de vídeo RX 480 8gb,R$ 950,Manaus - AM,"Hoje, 08:07",https://am.olx.com.br/regiao-de-manaus/computa...,2022-10-01